cryptography==46.0.5
fastapi==0.135.1
gnupg==2.3.1
importlib-metadata==8.0.0
jaraco-context==6.1.0
jaraco-functools==4.4.0
jaraco-text==4.2.0
jaraco.collections==5.1.0
langchain==1.2.10
langchain-community==0.4.1
langchain-mcp-adapters==0.2.1
langchain-openai==1.1.10
langserve==0.3.3
mysql-connector-python==9.6.0
pandas==3.0.1
platformdirs==4.2.2
prettytable==3.17.0
redis==7.2.1
tomli==2.0.1
# aiohappyeyeballs==2.6.1 # Installed as dependency for aiohttp
# aiohttp==3.13.3 # Installed as dependency for langchain-community
# aiosignal==1.4.0 # Installed as dependency for aiohttp
# annotated-doc==0.0.4 # Installed as dependency for fastapi, typer
# annotated-types==0.7.0 # Installed as dependency for pydantic
# anyio==4.12.1 # Installed as dependency for httpx, mcp, openai, sse-starlette, starlette
# attrs==25.4.0 # Installed as dependency for aiohttp, jsonschema, referencing
# autocommand==2.2.2 # Installed as dependency for jaraco.text
# backports.tarfile==1.2.0 # Installed as dependency for jaraco-context, jaraco.context
# certifi==2026.2.25 # Installed as dependency for httpcore, httpx, requests
# cffi==2.0.0 # Installed as dependency for cryptography
# charset-normalizer==3.4.4 # Installed as dependency for requests
# click==8.3.1 # Installed as dependency for typer, uvicorn
# dataclasses-json==0.6.7 # Installed as dependency for langchain-community
# distro==1.9.0 # Installed as dependency for openai
# frozenlist==1.8.0 # Installed as dependency for aiohttp, aiosignal
# greenlet==3.3.2 # Installed as dependency for sqlalchemy
# h11==0.16.0 # Installed as dependency for httpcore, uvicorn
# httpcore==1.0.9 # Installed as dependency for httpx
# httpx==0.28.1 # Installed as dependency for langgraph-sdk, langserve, langsmith, mcp, openai
# httpx-sse==0.4.3 # Installed as dependency for langchain-community, mcp
# idna==3.11 # Installed as dependency for anyio, httpx, requests, yarl
# inflect==7.3.1 # Installed as dependency for jaraco.text
# jaraco.context==5.3.0 # Installed as dependency for jaraco-text, jaraco.text
# jaraco.functools==4.0.1 # Installed as dependency for jaraco-text, jaraco.text
# jaraco.text==3.12.1 # Installed as dependency for jaraco.collections
# jiter==0.13.0 # Installed as dependency for openai
# jsonpatch==1.33 # Installed as dependency for langchain-core
# jsonpointer==3.0.0 # Installed as dependency for jsonpatch
# jsonschema==4.26.0 # Installed as dependency for mcp
# jsonschema-specifications==2025.9.1 # Installed as dependency for jsonschema
# langchain-classic==1.0.1 # Installed as dependency for langchain-community
# langchain-core==1.2.16 # Installed as dependency for langchain, langchain-classic, langchain-community, langchain-mcp-adapters, langchain-openai, langchain-text-splitters, langgraph, langgraph-checkpoint, langgraph-prebuilt, langserve
# langchain-text-splitters==1.1.1 # Installed as dependency for langchain-classic
# langgraph==1.0.10 # Installed as dependency for langchain
# langgraph-checkpoint==4.0.1 # Installed as dependency for langgraph, langgraph-prebuilt
# langgraph-prebuilt==1.0.8 # Installed as dependency for langgraph
# langgraph-sdk==0.3.9 # Installed as dependency for langgraph
# langsmith==0.7.9 # Installed as dependency for langchain-classic, langchain-community, langchain-core
# markdown-it-py==4.0.0 # Installed as dependency for rich
# marshmallow==3.26.2 # Installed as dependency for dataclasses-json
# mcp==1.26.0 # Installed as dependency for langchain-mcp-adapters
# mdurl==0.1.2 # Installed as dependency for markdown-it-py
# more-itertools==10.8.0 # Installed as dependency for inflect, jaraco-functools, jaraco-text, jaraco.functools, jaraco.text
# multidict==6.7.1 # Installed as dependency for aiohttp, yarl
# mypy-extensions==1.1.0 # Installed as dependency for typing-inspect
# numpy==2.4.2 # Installed as dependency for langchain-community, pandas
# openai==2.24.0 # Installed as dependency for langchain-openai
# orjson==3.11.7 # Installed as dependency for langgraph-sdk, langserve, langsmith
# ormsgpack==1.12.2 # Installed as dependency for langgraph-checkpoint
# packaging==26.0 # Installed as dependency for langchain-core, langsmith, marshmallow
# propcache==0.4.1 # Installed as dependency for aiohttp, yarl
# psutil==7.2.2 # Installed as dependency for gnupg
# pycparser==3.0 # Installed as dependency for cffi
# pydantic==2.12.5 # Installed as dependency for fastapi, langchain, langchain-classic, langchain-core, langgraph, langserve, langsmith, mcp, openai, pydantic-settings
# pydantic-core==2.41.5 # Installed as dependency for pydantic
# pydantic-settings==2.13.1 # Installed as dependency for langchain-community, mcp
# pygments==2.19.2 # Installed as dependency for rich
# pyjwt==2.11.0 # Installed as dependency for mcp
# python-dateutil==2.9.0.post0 # Installed as dependency for pandas
# python-dotenv==1.2.2 # Installed as dependency for pydantic-settings
# python-multipart==0.0.22 # Installed as dependency for mcp
# pyyaml==6.0.3 # Installed as dependency for langchain-classic, langchain-community, langchain-core
# referencing==0.37.0 # Installed as dependency for jsonschema, jsonschema-specifications
# regex==2026.2.28 # Installed as dependency for tiktoken
# requests==2.32.5 # Installed as dependency for langchain-classic, langchain-community, langsmith, requests-toolbelt, tiktoken
# requests-toolbelt==1.0.0 # Installed as dependency for langsmith
# rich==14.3.3 # Installed as dependency for typer
# rpds-py==0.30.0 # Installed as dependency for jsonschema, referencing
# shellingham==1.5.4 # Installed as dependency for typer
# six==1.17.0 # Installed as dependency for python-dateutil
# sniffio==1.3.1 # Installed as dependency for openai
# sqlalchemy==2.0.48 # Installed as dependency for langchain-classic, langchain-community
# sse-starlette==3.3.2 # Installed as dependency for mcp
# starlette==0.52.1 # Installed as dependency for fastapi, mcp, sse-starlette
# tenacity==9.1.4 # Installed as dependency for langchain-community, langchain-core
# tiktoken==0.12.0 # Installed as dependency for langchain-openai
# tqdm==4.67.3 # Installed as dependency for openai
# typeguard==4.3.0 # Installed as dependency for inflect
# typer==0.24.1 # Installed as dependency for typer-slim
# typer-slim==0.24.0 # Installed as dependency for jaraco-text
# typing-extensions==4.15.0 # Installed as dependency for aiosignal, anyio, fastapi, langchain-core, langchain-mcp-adapters, mcp, openai, pydantic, pydantic-core, referencing, sqlalchemy, starlette, typeguard, typing-inspect, typing-inspection
# typing-inspect==0.9.0 # Installed as dependency for dataclasses-json
# typing-inspection==0.4.2 # Installed as dependency for fastapi, mcp, pydantic, pydantic-settings
# urllib3==2.6.3 # Installed as dependency for requests
# uuid-utils==0.14.1 # Installed as dependency for langchain-core, langsmith
# uvicorn==0.41.0 # Installed as dependency for mcp
# wcwidth==0.6.0 # Installed as dependency for prettytable
# xxhash==3.6.0 # Installed as dependency for langgraph, langsmith
# yarl==1.23.0 # Installed as dependency for aiohttp
# zipp==3.23.0 # Installed as dependency for importlib-metadata
# zstandard==0.25.0 # Installed as dependency for langsmith
